/*
 * Globals
 */

/* Links */
a, a:focus, a:hover {
}
/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}
/*
 * Base structure
 */

html, body {
	height: 100%;
	background-color: #333;
}
body {
	text-align: center;/*text-shadow: 0 1px 1px rgba(0,0,0,.5);*/
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	padding-top: 10%;
}
.site-wrapper-inner {
	display: table-cell;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}
/* Padding for spacing */
.inner {
	padding: 30px;
    color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
    text-align: center;
}
/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3em;
	font-family: 'Raleway', sans-serif;
    color:white;
}
.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}
/*
 * Cover
 */

.cover {
	padding: 0 20px;
	width: 100%;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}
/*
 * Footer
 */

.mastfoot {
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
      position: absolute;
      top: 0;
  }
  .mastfoot {
      bottom: 0;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 75%; /* Must be percentage or pixels for horizontal alignment */
  }
/* Pull out the header and footer */
.masthead-brand {
	float: left;
}
.masthead-nav {
	float: right;
}
.masthead {
	position: absolute;
	top: 0;
}
.mastfoot {
	bottom: 0;
}
/* Handle the widths */
.masthead,  .mastfoot,  .cover-container {
	width: 100%; /* Must be percentage or pixels for horizontal alignment */
}
.mine_program, .your_program,  .mine_stream, .your_stream,  .mine_term, .your_term {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	clear: both;
	margin-top:1%;
}
.form-control{
	margin-top:1%;
}
.row_mine, .row_friend {
	width: 100%;
	padding: 1%;
	margin: auto;
	margin-top:3%;
	position: relative;
	float:none;
}
}
 @media (min-width: 992px) {
.masthead,  .mastfoot,  .cover-container {
	width: 75%;
}
.mine_program, .your_program,  .mine_stream, .your_stream,  .mine_term, .your_term {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	clear: both;
	float: none;
}
.row_mine, .row_friend {
	width: 50%;
	padding: 1%;
	margin: auto;
	position: relative;
	height:inherit;
}
.row_mine {
	float: left;
}
.row_friend {
	float: right;
}
.mine_program, .mine_stream, .mine_term {
	float: left;
	width:90%;
	margin-right:auto;
	margin-left:auto;
}
.your_program, .your_stream, .your_term {
	float:left;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.equal_row{
	vertical-align:bottom;
}
}


/*New CSS design*/
.form-control {
	height: 60px;
	border-radius: 20px;
}

.content, .table_content {
	margin: 10px;
	width: 100%;
}


#cont {
	-webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
}
#cont.fade-out {
	opacity: 0;
}
#cont.fade-in {
	opacity: 1;
}


.submit {
	clear: both;
	margin-top: 5%;
	font-size: 1.5em;
	width: auto;
	border-radius: 30px;
	padding-left: 10%;
	padding-right: 10%;
}

.submit_row {
	position: relative;
	clear: both;
}
.proletariat {
	margin-left: auto;
	margin-right: auto;
}
.proletariat:first-letter {
    text-transform:capitalize;
}
td {
	padding: 3px;
}

/*spiffy card stuff*/
.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  border-radius:3px;
  user-select:none;
  transform-origin:top left;
}

.aboutus{
    text-align: left;
    padding:5%;
}
.equal_row{
	height:100%;
	width:inherit;
}

h1{
  padding-top: 0px;
  margin-top: 0px;
  font-size: 3em;
  color: #757575;
  font-family: Raleway, sans-serif;
}

h2{
  font-size: 2.3em;
  color: #757575;
  font-family: Raleway, sans-serif;
}

.form-control{
	margin-top:1%;
}
th{
	text-align:center;
}