<!DOCTYPE html>
<html ng-app="CoopFriend">
<head>
    <title>WatIsSubletting</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href= "/static/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56761383-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body ng-controller="MainCtrl">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
            <a href="/">
                <h3 class="masthead-brand"><span style="color:#FCD450;">Wat</span>IsSubletting</h3>
            </a>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="table_content card"  ng-show="results != null">
        <h3 ng-if="results!=null" class="alert alert-info" role="alert">{[{onStream(results.result)}]}</h3>
        <table class="proletariat table table-hover">
          <thead>
            <tr style="text-align:center;">
              <th>Term</th>
              <th>You: {[{my_info.name}]}</th>
              <th>Your friend: {[{friend_info.name}]}</th>
              <th>Can You Sublet?</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in results.dates">
              <td>{[{result}]}</td>
              <td>{[{results.my_array[$index]}]}</td>
              <td>{[{results.friend_array[$index]}]}</td>
              <td ng-style="styleRow(results.result[$index])">{[{results.result[$index]}]}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary submit" ng-click="results = null" onClick="fadeIn(this);">Try another friend!</button>
      </div>
      <form id="form" role="form" class="inner cover card" ng-show="results == null">
        <script type="text/ng-template" id="customTemplate.html">
          <a style="color:{[{match.model.color}]}">
              <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
          </a>
        </script> 
          
        <!-- Errors -->
        <div class="alert alert-danger" role="alert" ng-show="error != null">{[{error}]}</div>
        
        <!-- Me -->
        <div class="row content" id="cont">
          <div class="col-md-12 equal_row">
            <div class=" col-md-6 row row_mine">
              <div class="col-md-12 mine_program">
                <h3 class="masthead-brand"><span style="color:gray;">YOU</span></h3>
                <input type="text" ng-model="my_info" placeholder="Type your program here" typeahead="state as state.name for state in programs_list | filter:{name:$viewValue} | limitTo:16" typeahead-template-url="customTemplate.html" class="form-control program">
              </div>

              <div class="col-md-12 mine_stream" ng-show="my_info.require_stream">
                <input type="text" ng-model="mstream" placeholder="Type sequence/stream number here"class="form-control" ng-focus="getStreamSuggestion(my_info)" list="mystreams">
                <datalist id="mystreams">
                  <option value="{[{stream}]}" ng-repeat="stream in my_info.stream_choices"> 
                </datalist>
              </div>

              <div class="col-md-12 mine_term">
                <input type="text" id="mterm" ng-model="mterm" placeholder="Current term (eg. 1A)" class="form-control" ng-focus="getTermsSuggestion(my_info, mstream)" list="mterms">
                <datalist id="mterms">
                    <option value="{[{mterm}]}" ng-repeat="mterm in my_info.terms_choices">
                </datalist>
              </div>
            </div>

            <!-- Friend -->
            <div class="col-md-6 row row_friend">
              <div class="col-md-12 your_program">
                <h3 class="masthead-brand"><span style="color:gray;">YOUR FRIEND</span></h3>
                <input type="text" ng-model="friend_info" placeholder="Type program here" typeahead="state as state.name for state in programs_list | filter:{name:$viewValue} | limitTo:16" typeahead-template-url="customTemplate.html" class="form-control">
              </div>
              <div class="col-md-12 your_stream" ng-show="friend_info.require_stream">
                <input type="text" ng-model="fstream" placeholder="Type sequence/stream number here"class="form-control" ng-focus="getStreamSuggestion(friend_info)" list="fstreams">
                <datalist id="fstreams">
                  <option value="{[{stream}]}" ng-repeat="stream in friend_info.stream_choices"> 
                </datalist>
              </div>
              <div class="col-md-12 your_term">
                <input type="text" id="fterm" ng-model="fterm" placeholder="Current term (eg. 1A)" class="form-control" ng-focus="getTermsSuggestion(friend_info, fstream)" list="fterms">
                <datalist id="fterms">
                  <option value="{[{fterm}]}" ng-repeat="fterm in friend_info.terms_choices"> 
                </datalist>
              </div>
            </div>
          </div>
          
          <!-- Submit -->
          <div class="row submit_row">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary submit" ng-click="processForm()">Can we sublet?</button>
            </div>
          </div>
        </div>
      </form>
    <div class="inner">
      <p>Made with love.</p>
    </div>
    </div>
  </div>
</div>

</body>
</html>
